.about-us {
  @include central;
  margin-top: 79px;
}

.about-us__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
}

.about-us__list {
  @include list-style-none;
}

.about-us__item {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  padding-top: 82px;
  width: 260px;
}
