.about-us {
  @include central;
  margin-top: 75px;
}

.about-us__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
}

.about-us__list {
  @include list-style-none;
}

.about-us__item {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  padding-top: 83px;
  width: 249px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
  }

  &--eco {
    &::before {
      width: 33px;
      height: 38px;
      background: url("../img/eco.svg");
      background-size: 33px 38px;
      top: 27px;
      left: 8px;
    }
  }

  &--money {
    &::before {
      width: 47px;
      height: 27px;
      background: url("../img/money.svg");
      background-size: 47px 27px;
      top: 28px;
      left: 0;
    }
  }

  &--like {
    &::before {
      width: 34px;
      height: 27px;
      background: url("../img/like.svg");
      background-size: 34px 27px;
      top: 33px;
      left: 7px;
    }
  }

  &--hand {
    &::before {
      width: 35px;
      height: 34px;
      background: url("../img/hand.svg");
      background-size: 35px 35px;
      top: 30px;
      left: 3px;
    }
  }

  &--support {
    &::before {
      width: 55px;
      height: 23px;
      background: url("../img/support.svg");
      background-size: 55px 23px;
      top: 31px;
      left: -6px;
    }
  }

  &--gift {
    &::before {
      width: 33px;
      height: 32px;
      background: url("../img/gift.svg");
      background-size: 33px 32px;
      top: 29px;
      left: 3px;
    }
  }
}

@media (min-width: $tablet-width) {
  .about-us {
    max-width: 1150px;
    padding: 0 50px;
    margin: 0 auto;
    margin-top: 124px;
  }

  .about-us__title {
    font-weight: 700;
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 41px;
  }

  .about-us__list {
    column-count: 2;
    max-width: 98%;
  }

  .about-us__item {
    padding-top: 58px;
    margin-bottom: 53px;
    width: 293px;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;

    &--eco {
      &::before {
        top: 0;
      }
    }

    &--money {
      &::before {
        top: 3px;
        left: 1px;
      }
    }

    &--like {
      &::before {
        top: 8px;
        left: 8px;
      }
    }

    &--hand {
      &::before {
        top: 5px;
        left: 2px;
      }
    }

    &--support {
      &::before {
        top: 6px;
        left: -7px;
      }
    }

    &--gift {
      &::before {
        top: 4px;
        left: 2px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    max-width: 1150px;
    margin-top: 164px;
  }

  .about-us__title {
    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
    margin-left: 175px;
    margin-bottom: 38px;
  }

  .about-us__list {
    margin-left: 175px;
    max-width: 65%;
  }
}
