.about-us {
  @include central;
  margin-top: 79px;
}

.about-us__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
}

.about-us__list {
  @include list-style-none;
}

.about-us__item {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  padding-top: 82px;
  width: 249px;
}

@media (min-width: $tablet-width) {
  .about-us {
    max-width: 768px;
    padding: 0 50px;
    margin: 0 auto;
    margin-top: 124px;
  }

  .about-us__title {
    font-weight: 700;
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 41px;
  }

  .about-us__list {
    column-count: 2;
  }

  .about-us__item {
    padding-top: 56px;
    margin-bottom: 57px;
    width: 293px;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    max-width: 1150px;
  }

  .about-us__title {
    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
    margin-left: 175px;
  }

  .about-us__list {
    margin-left: 175px;
  }
}
