.button {
  display: inline-block;
  padding: 14px;
  font-weight: 700;
  font-size: 18px;
  box-sizing: border-box;
  line-height: 20px;
  color: $second-black;
  background: $basic-white;
  text-transform: uppercase;
  border: 2px solid $second-black;
  text-align: center;
  font-family: inherit;

  &:hover,
  &:focus {
    background: $second-black;
    color: $basic-white;
  }

  &:active {
    color: $active-button;
    background: $second-black;
  }
}
