.catalog-item__info-container {
  display: flex;
  flex-direction: column;
  padding: 27px;
  padding-bottom: 11px;
  border: 1px solid $light-grey;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.catalog-item__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin: 0;

  a {
    color: $basic-black;
  }
}

.catalog-item__icon {
  position: absolute;
  right: -1px;
  top: 20px;

  &:hover {
    path {
      fill: $green;
      opacity: 1;
    }
  }

  &:active {
    path {
      opacity: 0.3;
    }
  }
}

.catalog-item__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  margin: 5px 0 13px;
  color: $second-black;
}

.catalog-item__footer {
  position: relative;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  padding-top: 21px;
  border-top: 1px solid $light-grey;
  margin-top: 6px;
}

.catalog-item__link {
  background-color: $green;
}

.catalog-item__img {
  width: 100%;
  display: block;
}

@media (min-width: $tablet-width) {
  .catalog-item {
    display: flex;
    box-sizing: border-box;
    min-height: 334px;
  }

  .catalog-item__icon {
    right: 4px;
    top: 21px;
  }

  .catalog-item__info-container {
    width: 50%;
    box-sizing: border-box;
    padding-left: 32px;
    padding-bottom: 23px;
  }

  .catalog-item__link {
    width: 50%;
    background-color: $green;
  }

  .catalog-item__img {
    min-height: 334px;
  }

  .catalog-item__footer {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: auto;
    padding-top: 23px;
  }

  .catalog-item__title {
    width: 240px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  .catalog-item__description {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    margin-top: 7px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-item {
    display: flex;
    flex-direction: column;
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }

  .catalog-item__info-container {
    width: 316px;
    min-height: 197px;
    padding-top: 24px;
    padding-left: 27px;
    padding-bottom: 27px;
  }

  .catalog-item__link {
    width: 316px;
    min-height: 462px;
  }
}
