.contacts {
  margin-top: 89px;
}

.contacts__wrapper {
  @include central;
}

.contacts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 28px;
}

.contacts__field {
  vertical-align: top;
}

.contacts__value {
  width: 180px;
  padding-left: 25px;
  padding-bottom: 25px;
}

.contacts__item:last-child {
  .contacts__value {
    padding-bottom: 0;
  }
}

.contacts__list {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $second-black;
}

.contacts__mail {
  color: $second-black;
  border-bottom: 1px solid $mail-link;

  &:hover,
  &:focus {
    color: $mail-hover;
    border-color: $mail-hover;
  }

  &:active {
    border-color: $mail-active;
  }
}

.contacts__map {
  height: 454px;
  width: 100%;
}

.contacts__button {
  display: block;
  margin: 42px auto 39px;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    padding: 0 50px;
    max-width: 772px;
  }

  .contacts__title {
    font-weight: 700;
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__list {
    tbody {
      display: flex;
    }
  }

  .contacts__item {
    padding-left: 25px;

    &:first-child {
      padding-left: 0;
    }
  }

  .contacts__map {
    height: 457px;
    width: 100%;
  }

  .contacts__button {
    width: 230px;
    margin-top: 55px;
    margin-bottom: 57px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    max-width: 1150px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 105px;
  }

  .contacts__wrapper {
    margin: 0;
    padding: 0;
    width: 50%;
  }

  .contacts__title {
    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
    padding-left: 174px;
  }

  .contacts__list {
    tbody {
      display: flex;
      flex-direction: column;
      padding-left: 174px;
    }
  }

  .contacts__item {
    padding-left: 0;
  }

  .contacts__map {
    width: 50%;
  }

  .contacts__button {
    position: absolute;
    bottom: 50px;
    left: 220px;
  }
}
