.featured {
  @include central;
  margin-top: 31px;
}

.featured__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  color: $basic-black;
  margin-bottom: 4px;
}

.featured__week-top {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $green;
  text-transform: uppercase;
  margin: 0;
}

.featured__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: $second-black;
  margin: 18px 0 18px;
}

.featured__list {
  width: 100%;
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: $second-black;

  tr {
    box-shadow: inset 0 -1px 0 0 #e5e5e5;
  }
}

.featured__field,
.featured__value {
  padding-top: 8px;
  padding-bottom: 10px;
}

.featured__field {
  padding: 7px 12px 11px 0;
}

.featured__img-wrapper {
  align-self: center;
  text-align: center;
}

.featured__price {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $second-black;
  text-align: center;
  margin-top: 17px;
  margin-bottom: 23px;
}

.featured__button {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .featured {
    display: flex;
    flex-direction: column;
    max-width: 1150px;
    padding: 0 50px;
    margin-top: 52px;
  }

  .featured__title {
    font-weight: 700;
    font-size: 43px;
    line-height: 50px;
  }

  .featured__week-top {
    font-weight: 700;
    font-size: 17px;
    line-height: 17px;
    width: 100px;
    margin: 0;
    margin-right: 14px;
    text-align: center;
    padding-top: 5px;
  }

  .featured__title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .featured__spec-container {
    display: flex;
    flex-direction: column;
    width: auto;
    min-height: 281px;
  }

  .featured__text {
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    max-width: 292px;
    margin-top: 0;
  }

  .featured__list {
    margin-top: 20px;
  }

  .featured__field {
    padding-right: 0;
    width: 93px;
  }

  .featured__value {
    padding-top: 0;
  }

  .featured__container {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    position: relative;
    padding-right: 50%;
    width: 50%;
  }

  .featured__img-wrapper {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    display: flex;
    margin-left: auto;
    width: 334px;
    height: 404px;
    background-color: $green;
  }

  .featured__price-wrapper {
    width: 87%;
    margin-top: 10px;
  }

  .featured__price {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 32px;
  }

  .featured__button {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .featured {
    margin-top: 129px;
    max-width: 1150px;
  }

  .featured__title-wrapper {
    justify-content: start;
  }

  .featured__title {
    order: 2;
    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
  }

  .featured__week-top {
    order: 1;
    margin: 0;
    margin-right: 43px;
    margin-left: 31px;
    padding-top: 9px;
  }

  .featured__container {
    margin-left: 175px;
    width: 33%;
  }

  .featured__list {
    width: 82%;
  }

  .featured__field {
    padding-bottom: 12px;
  }

  .featured__value {
    padding-top: 8px;
  }

  .featured__img-wrapper {
    background-color: $green;
    width: 525px;
    height: 636px;
    right: -2px;
    bottom: 0;
  }

  .featured__text {
    margin-bottom: 29px;
  }

  .featured__price-wrapper {
    margin-top: 65px;
    width: 84%;
  }
}
