.main-nav__list {
  @include list-style-none;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.main-nav__list a {
  color: $basic-black;
}

.main-nav__text {
  display: none;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: $second-black;
}
