.news-list {
  display: none;
}

@media (min-width: $desktop-width) {
  .news-list {
    display: flex;
    flex-wrap: wrap;
    width: 36%;
  }

  .news-list__item {
    &:first-child {
      border-right: 1px solid $light-grey;

      a {
        padding-left: 0;
        padding-right: 35px;
      }
    }

    a {
      display: block;
      font-weight: 700;
      font-size: 17px;
      line-height: 24px;
      padding-top: 33px;
      padding-bottom: 32px;
      padding-left: 35px;
    }
  }
}
