.news-list {
  display: none;
}

@media (min-width: $desktop-width) {
  .news-list {
    display: flex;
    background-color: $promo-background;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    width: 50%;
    max-height: 0;
    order: 4;
  }

  .news-list__item {
    a {
      display: flex;
      padding: 0;
      padding-top: 19px;
      width: 219px;
    }
  }
}
