.order-fieldset__title {
  @include form-green-line;
  position: relative;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $green;
  margin: 0;
}

.order-fieldset__list {
  @include list-style-none;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 31px;
}

.order-fieldset__item {
  min-height: 42px;
  display: flex;
}

.order-fieldset__color-list {
  @include list-style-none;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 33px;
}

.order-fieldset__radio-label {
  padding: 12px 30px 10px 63px;
}

.order-fieldset__color-item {
  min-height: 38px;
  display: flex;
}

.order-fieldset__checkbox-label {
  padding: 10px 30px 10px 63px;
}

.order-fieldset__name-list {
  @include list-style-none;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  margin-top: 8px;
  margin-bottom: 35px;
}

.order-fieldset__name-item {
  display: flex;
  flex-direction: column;
  padding-top: 21px;
}

.order-fieldset__contacts-label {
  @include form-green-line;
  position: relative;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $green;
  margin-bottom: 5px;
  margin-top: 22px;
}

.order-fieldset__contacts-item {
  display: flex;
  flex-direction: column;
}

.order-fieldset__title--comment {
  margin-top: 35px;
  margin-bottom: 23px;
}

.order-fieldset__input {
  font-family: inherit;
  border: none;
  border-bottom: 2px solid $basic-black;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 2px;
  font-weight: 400;
  font-size: 19px;
  line-height: 18px;
  color: $second-black;

  &::placeholder {
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    opacity: 0.3;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: $mail-link;
  }
}

.order-fieldset__textarea {
  font-family: inherit;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  padding: 17px 17px 0 17px;
  border: 2px solid $basic-black;
  width: 260px;
  height: 142px;
  resize: vertical;
  color: $second-black;
  box-sizing: border-box;

  &::placeholder {
    opacity: 0.3;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: $mail-link;
    outline: none;
  }
}

@media (min-width: $tablet-width) {
  .order-fieldset {
    &--grey {
      background-color: $grey-background;
    }
  }

  .order-fieldset__container {
    max-width: 772px;
    padding: 50px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;

    &--contacts {
      flex-wrap: wrap;
    }
  }

  .order-fieldset__title {
    margin-top: 10px;

    span {
      background-color: transparent;
    }

    &::after {
      display: none;
    }
  }

  .order-fieldset__name-item {
    flex-direction: row;

    &:first-child {
      padding: 0;
    }
  }

  .order-fieldset__label {
    padding-top: 20px;
    padding-right: 25px;
  }

  .order-fieldset__list {
    font-weight: 700;
    font-size: 19px;
    line-height: 18px;
    padding-left: 30px;
  }

  .order-fieldset__color-list {
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 19px;
    line-height: 18px;
    margin-bottom: 0;
    padding-left: 30px;
  }

  .order-fieldset__name-list {
    font-weight: 700;
    font-size: 19px;
    line-height: 18px;
    margin: 0;
    width: 100%;
    padding-left: 93px;
  }

  .order-fieldset__input {
    flex-grow: 1;
    background: transparent;

    &::placeholder {
      font-weight: 400;
      font-size: 19px;
      line-height: 18px;
    }
  }

  .order-fieldset__checkbox-label {
    width: 150px;
    padding-top: 2px;
    padding-left: 63px;
    padding-bottom: 20px;
  }

  .order-fieldset__color-item {
    padding-top: 0;
  }

  .order-fieldset__contacts-label {
    width: 80px;
    padding-right: 78px;

    span {
      background: transparent;
    }
  }

  .order-fieldset__contacts-item {
    flex-direction: row;
    width: 100%;
  }

  .order-fieldset__title--comment {
    padding-right: 97px;
  }

  .order-fieldset__textarea {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .order-fieldset__container {
    max-width: 1150px;
  }
}
