.order-fieldset__title {
  @include form-green-line;
  position: relative;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $green;
  margin: 0;
}

.order-fieldset__container {
  &--comment {
    display: flex;
    flex-direction: column;
  }
}

.order-fieldset__list {
  @include list-style-none;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 31px;
  padding-top: 23px;
}

.order-fieldset__item {
  min-height: 42px;
  display: flex;
  padding-bottom: 1px;
  box-sizing: border-box;

  &:first-child {
    min-height: 58px;
  }
}

.order-fieldset__color-list {
  @include list-style-none;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 33px;
  padding-top: 25px;
}

.order-fieldset__radio-label {
  padding: 12px 30px 10px 60px;
  position: relative;
  cursor: pointer;
}

.order-fieldset__radio {
  & + label::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border: 2px solid $second-black;
    border-radius: 50%;
    box-sizing: border-box;
  }

  & + label:hover::before {
    border-color: $mail-link;
  }

  & + label:active::before {
    border-color: $checkbox-active;
  }

  &:checked + label::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 48%;
    left: 12px;
    transform: translateY(-50%);
    background-color: $mail-link;
    border-radius: 50%;
  }
}

.order-fieldset__checkbox {
  & + label::before {
    content: "";
    position: absolute;
    width: 38px;
    height: 38px;
    top: -1px;
    left: 0;
    border: 2px solid $second-black;
    box-sizing: border-box;
  }

  & + label:hover::before {
    border-color: $mail-link;
  }

  & + label:active::before {
    border-color: $checkbox-active;
  }

  &:checked + label::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 17px;
    top: 10px;
    left: 7px;
    background: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.order-fieldset__color-item {
  min-height: 38px;
  display: flex;
  margin-bottom: 23px;
}

.order-fieldset__checkbox-label {
  padding: 10px 30px 10px 61px;
  position: relative;
}

.order-fieldset__name-list {
  @include list-style-none;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  padding-top: 28px;
}

.order-fieldset__name-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }
}

.order-fieldset__contacts-label {
  @include form-green-line;
  position: relative;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $green;
  margin-top: 35px;
  margin-bottom: 3px;
}

.order-fieldset__contacts-item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.order-fieldset__icon {
  fill: $basic-black;
  fill-opacity: 0.2;
}

.order-fieldset__icon--phone {
  position: absolute;
  bottom: 17px;
  right: 7px;
}

.order-fieldset__icon--mail {
  position: absolute;
  bottom: 14px;
  right: 3px;
}

.order-fieldset__title--comment {
  margin-top: 35px;
  margin-bottom: 23px;
}

.order-fieldset__input {
  font-family: inherit;
  border: none;
  border-bottom: 2px solid $basic-black;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 2px;
  font-weight: 400;
  font-size: 19px;
  line-height: 18px;
  color: $second-black;

  &::placeholder {
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    opacity: 0.3;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: $mail-link;

    & + .order-fieldset__icon {
      fill: #62d1ba;
      fill-opacity: 1;
    }
  }
}

.order-fieldset__textarea {
  font-family: inherit;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  padding: 17px 17px 0 17px;
  border: 2px solid $basic-black;
  height: 142px;
  resize: vertical;
  color: $second-black;
  box-sizing: border-box;

  &::placeholder {
    opacity: 0.3;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: $mail-link;
    outline: none;
  }
}

@media (min-width: $tablet-width) {
  .order-fieldset {
    &--grey {
      background-color: $grey-background;
    }
  }

  .order-fieldset__container {
    max-width: 1150px;
    padding: 50px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;

    &--type {
      padding-bottom: 24px;
    }

    &--color {
      min-height: 304px;
      padding-bottom: 26px;
    }

    &--name {
      min-height: 303px;
      padding-bottom: 25px;
    }

    &--contacts {
      min-height: 228px;
      flex-wrap: wrap;
      padding-top: 25px;
      padding-bottom: 50px;
    }

    &--comment {
      flex-direction: row;
    }
  }

  .order-fieldset__title {
    margin-top: 15px;

    span {
      background-color: transparent;
    }

    &::after {
      display: none;
    }
  }

  .order-fieldset__name-item {
    flex-direction: row;
    padding: 0;
    padding-bottom: 24px;
    margin-bottom: 0;
  }

  .order-fieldset__item {
    min-height: 42px;
    padding-left: 96px;
    padding-bottom: 34px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .order-fieldset__label {
    padding-left: 10px;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .order-fieldset__radio {
    & + label::before {
      width: 50px;
      height: 49px;
      left: -17px;
    }

    &:checked + label::after {
      width: 20px;
      height: 20px;
      top: 50%;
      left: -2px;
    }
  }

  .order-fieldset__list {
    font-weight: 700;
    font-size: 19px;
    line-height: 18px;
    padding-left: 32px;
    padding-top: 0;
  }

  .order-fieldset__color-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 19px;
    line-height: 18px;
    margin-bottom: 0;
    padding-left: 30px;
    padding-top: 0;
    width: 81%;
  }

  .order-fieldset__name-list {
    font-weight: 700;
    font-size: 19px;
    line-height: 18px;
    margin: 0;
    width: 100%;
    padding-left: 93px;
    padding-top: 0;
  }

  .order-fieldset__input {
    flex-grow: 1;
    background: transparent;
    padding-left: 13px;

    &::placeholder {
      font-weight: 400;
      font-size: 19px;
      line-height: 18px;
    }
  }

  .order-fieldset__checkbox-label {
    width: 140px;
    padding-top: 2px;
    padding-left: 63px;
    padding-bottom: 20px;
    padding-right: 0;
  }

  .order-fieldset__checkbox {
    & + label::before {
      width: 52px;
      height: 52px;
      top: -14px;
      left: -18px;
    }

    &:checked + label::after {
      width: 33px;
      height: 24px;
      top: 2px;
      left: -7px;
      background: url("../img/big-checkbox-on.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .order-fieldset__color-item {
    padding-top: 12px;
    padding-bottom: 0;
    padding-left: 90px;

    &:first-child {
      padding-top: 13px;
    }

    &:nth-child(2) {
      padding-top: 15px;
    }

    &:nth-child(2n) {
      padding-left: 57px;
    }
  }

  .order-fieldset__contacts-label {
    width: 80px;
    padding-right: 91px;
    margin-top: 16px;

    span {
      background: transparent;
    }
  }

  .order-fieldset__icon--phone {
    bottom: 16px;
    right: 26px;
  }

  .order-fieldset__icon--mail {
    bottom: 15px;
    right: 22px;
  }

  .order-fieldset__contacts-item {
    flex-direction: row;
    width: 100%;
    padding-top: 25px;
  }

  .order-fieldset__title--comment {
    padding-right: 106px;
    margin-top: 19px;
  }

  .order-fieldset__textarea {
    width: 100%;

    &::placeholder {
      font-weight: 400;
      font-size: 19px;
      line-height: 18px;
    }
  }
}

@media (min-width: $desktop-width) {
  .order-fieldset__container {
    max-width: 1030px;

    &--color {
      min-height: 228px;
      padding-bottom: 29px;
    }

    &--comment {
      padding-bottom: 48px;
    }
  }

  .order-fieldset__item {
    padding-left: 43px;
  }

  .order-fieldset__checkbox-label {
    width: 150px;
  }

  .order-fieldset__checkbox {
    & + label::before {
      top: -18px;
    }

    &:checked + label::after {
      top: -4px;
      left: -8px;
    }
  }

  .order-fieldset__color-item {
    &:nth-child(n) {
      padding-top: 16px;
      padding-bottom: 19px;
      padding-left: 22px;
      padding-right: 28px;
      margin-bottom: 0;
    }
  }

  .order-fieldset__color-list {
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 45px;
  }

  .order-fieldset__name-list {
    padding-left: 43px;
    padding-right: 115px;
  }

  .order-fieldset__label {
    padding-right: 29px;
  }

  .order-fieldset__contacts-item {
    padding-right: 115px;
  }

  .order-fieldset__icon--phone {
    bottom: 18px;
    right: 123px;
  }

  .order-fieldset__icon--mail {
    bottom: 17px;
    right: 119px;
  }

  .order-fieldset__contacts-label {
    padding-right: 39px;
  }

  .order-fieldset__title {
    &--comment {
      padding-right: 54px;
    }
  }

  .order-fieldset__textarea {
    width: 700px;
    padding-top: 14px;

    &::placeholder {
      font-weight: 400;
      font-size: 19px;
      line-height: 18px;
    }
  }
}
