.page-content__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  margin: 0 auto;
  width: 260px;
  padding: 74px 24px;
  text-align: center;
}

.page-content__header {
  background-color: $grey-background;
}

.page-content__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  width: 260px;
  margin: 0 auto;
  padding: 17px 30px 29px 30px;
  color: $second-black;
}

@media (min-width: $tablet-width) {
  .page-content__header {
    min-height: 226px;
    position: relative;

    &::after {
      display: block;
      content: "";
      position: absolute;
      width: 100%;
      height: 15px;
      bottom: 0;
      background-image: url("../img/zigzag-fill-desktop.svg");
      background-repeat: repeat-x;
      background-size: auto 22.8px;
    }
  }

  .page-content__title {
    width: 420px;
    font-weight: 700;
    font-size: 43px;
    line-height: 50px;
    padding-top: 100px;
    padding-bottom: 75px;
  }

  .page-content__description {
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
    padding: 66px 50px 16px 26px;
    box-sizing: border-box;
    width: 720px;
  }
}

@media (min-width: $desktop-width) {
  .page-content__header {
    min-height: 272px;

    &::after {
      height: 34px;
      background-size: auto 35px;
    }
  }

  .page-content__title {
    width: 550px;
    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
  }

  .page-content__description {
    width: 1030px;
    padding-top: 98px;
    padding-left: 164px;
    padding-right: 164px;
  }
}
