.page-content__title {
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  margin: 0 auto;
  width: 260px;
  padding: 74px 24px;
}

.page-content__header {
  background-color: $grey-background;
}

.page-content__description {
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  width: 260px;
  margin: 0 auto;
  padding: 17px 30px 29px 30px;
  color: $second-black;
}
