.page-footer {
  min-height: 160px;
  background-color: $grey-background;
}

.page-footer__logo {
  display: none;

  &:hover path {
    fill: $mail-hover;
  }

  &:active path {
    fill: $mail-hover;
    fill-opacity: 0.3;
  }
}

.page-footer__wrapper {
  @include central;
  max-width: 320px;
}

.page-footer__copyright {
  padding-left: 39px;
  padding-top: 13px;
}

.page-footer__copyright-link {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: $basic-black;
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg {
    margin-right: 39px;
    margin-top: 8px;
  }

  &:hover path {
    fill: $mail-hover;
  }

  &:active path {
    fill: $mail-hover;
    fill-opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    background-color: $grey-background;
  }

  .page-footer__wrapper {
    display: flex;
    max-width: 1150px;
    padding: 39px 50px 48px;
    justify-content: space-between;
  }

  .page-footer__copyright {
    padding: 0;
    padding-top: 11px;
  }

  .page-footer__copyright-link {
    svg {
      margin: 0;
    }

    span {
      padding-right: 29px;
    }
  }

  .page-footer__logo {
    display: block;
    padding-top: 12px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    max-width: 1150px;
  }
}
