.page-footer {
  background-color: $grey-background;
}

.page-footer__wrapper {
  @include central;
}

.page-footer__copyright-link {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: $basic-black;
}

@media (min-width: $tablet-width) {
  .page-footer {
    background-color: $grey-background;
  }

  .page-footer__wrapper {
    display: flex;
    max-width: 772px;
    padding: 56px 50px 58px;
  }

  .page-footer__logo {
    padding-top: 15px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    max-width: 1150px;
  }
}
