.production {
  border: 1px solid $light-grey;
  max-width: 767px;
  margin: 0 30px 58px;
}

.production__title {
  position: relative;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin: 0 auto;
  padding-top: 21px;
  padding-bottom: 26px;
  padding-left: 90px;
  min-height: 95px;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 22px;
    top: 34px;
    left: 33px;
    background: url("../img/video.svg");
    background-repeat: no-repeat;
    background-size: 32px 22px;
  }
}

.production__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  width: 193px;
  margin: 35px auto 41px;
}

.production__container {
  position: relative;
  min-height: 150px;
  background-color: $grey-background;
}

.production__video-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 101px;
  height: 77px;
  background-color: transparent;
  background-image: url("../img/play.svg");
  background-repeat: no-repeat;
  background-size: auto;
  border: none;
  transform: translate(-50%, -50%);

  &:hover {
    transform: scale(1.2) translate(-40%, -40%);
  }

  &:active {
    transform: scale(0.8) translate(-60%, -60%);
    opacity: 0.3;
  }
}

.production__button {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  width: 192px;
  margin: 0 auto;
  margin-bottom: 33px;
  height: 52px;
}

@media (min-width: $tablet-width) {
  .production {
    max-width: 1150px;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    border: none;
    box-sizing: border-box;
    margin: 0 auto 63px;
  }

  .production__container {
    min-height: 455px;
    background-color: $green;
    order: -1;
  }

  .production__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    width: auto;
    padding-top: 41px;
    padding-left: 107px;
    box-sizing: border-box;
    border: 1px solid $light-grey;
    border-bottom: none;
    min-height: 0;
    padding-bottom: 23px;

    &::before {
      top: 37px;
      left: 41px;
    }
  }

  .production__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    margin: 0;
    width: 590px;
    padding-left: 40px;
  }

  .production__button {
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    padding-top: 17px;
    margin: 40px 0 46px 41px;
    height: 52px;
    width: 584px;
  }

  .production__wrapper {
    border: 1px solid $light-grey;
    border-top: none;
  }
}

@media (min-width: $desktop-width) {
  .production {
    max-width: 1150px;
    position: relative;
    margin-bottom: 106px;
    margin-top: 53px;
    padding-left: 732px;
  }

  .production__container {
    position: absolute;
    width: 682px;
    height: 455px;
    left: 50px;
  }

  .production__wrapper {
    width: auto;
    min-height: 300px;
    margin: 0;
    padding: 16px 56px 30px 79px;
    box-sizing: border-box;
  }

  .production__title {
    width: auto;
    min-height: 155px;
    padding: 95px 55px 7px 79px;

    &::before {
      top: 45px;
      left: 79px;
    }
  }

  .production__text {
    width: 252px;
    padding: 0;
  }

  .production__button {
    width: 230px;
    margin: 0;
    margin-top: 50px;
  }
}
