.production {
  border: 1px solid $light-grey;
  width: 260px;
  margin: 0 auto 60px;
}

.production__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin: 0 auto;
  padding-top: 23px;
  padding-bottom: 24px;
  padding-left: 90px;
  width: 156px;
}

.production__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  width: 197px;
  margin: 35px auto 41px;
}

.production__button {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  width: 192px;
  margin: 0 auto;
  margin-bottom: 33px;
}
