.product-type {
  @include list-style-none;
  margin-top: 120px;
}

.product-type__link {
  position: relative;
  display: block;
  padding: 25px 0 30px 0;
  color: $basic-white;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;

  &--interior {
    background-color: $green;

    &:hover {
      background-color: $light-green;
    }

    ::after {
      content: "";
      position: absolute;
      width: 41px;
      height: 62px;
      background: url("../img/interior.svg");
      background-repeat: no-repeat;
      background-size: 41px 62px;
      z-index: 2;
      top: 23px;
      right: 35px;
    }
  }

  &--toys {
    background-color: $dark-green;

    &:hover {
      background-color: $mail-hover;
    }

    ::after {
      content: "";
      position: absolute;
      width: 61px;
      height: 61px;
      background: url("../img/toy.svg");
      background-repeat: no-repeat;
      background-size: 61px 61px;
      z-index: 2;
      top: 21px;
      right: 26px;
    }
  }

  &:hover,
  &:focus {
    margin-top: -5px;
    padding-bottom: 35px;

    ::after {
      opacity: 0.7;
    }
  }

  &:active {
    ::after {
      opacity: 0.3;
    }
  }

  span {
    display: block;
    padding: 0 30px 0 30px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

@media (min-width: $tablet-width) {
  .product-type {
    display: flex;
    padding: 0 50px;
    flex-direction: row;
    width: auto;
    margin: 0;
  }

  .product-type__link {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 35px;

    span {
      padding-left: 36px;
    }

    &--interior {
      ::after {
        top: 29px;
        right: 36px;
      }
    }

    &--toys {
      ::after {
        top: 30px;
        right: 33px;
      }
    }
  }

  .product-type__item {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .product-type {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
  }
}
