.promo {
  background-image: url("../img/hero-mobile@1.jpg");
  background-repeat: no-repeat;
}

.promo__title {
  width: 250px;
  padding-top: 73px;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  margin: 0;
}
