.promo {
  background-image: url("../img/hero-mobile@1.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50% -15%;
  background-color: $promo-background;
}

.promo__title {
  width: 250px;
  padding-top: 73px;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
