.site-list {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.site-list__item {
  display: block;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;

  a {
    display: flex;
    align-self: center;
    max-width: 320px;
    margin: 0 auto;
    padding-top: 29px;
    padding-bottom: 26px;
    padding-left: 76px;
    padding-right: 20px;
    box-sizing: border-box;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    order: 3;
    background-color: $promo-background;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    width: 55%;
    max-height: 0;
    z-index: 1;
  }

  .site-list__item {
    box-shadow: none;

    a {
      padding: 0;
      padding-top: 19px;
      width: 168px;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    order: 1;
    width: 36%;
    max-height: none;
    background: transparent;
  }

  .site-list__item {
    &:first-child {
      border-right: 1px solid $light-grey;

      a {
        padding-left: 0;
        padding-right: 35px;
      }
    }

    a {
      width: auto;
      display: block;
      font-weight: 700;
      font-size: 17px;
      line-height: 24px;
      padding-top: 33px;
      padding-bottom: 32px;
      padding-left: 35px;
    }
  }
}
