$basic-white: #ffffff;
$basic-black: #000000;
$second-black: #444444;
$green: #63d1bb;
$dark-green: #56c3b2;
$mail-link: #62d1ba;
$mail-hover: #46c1ae;
$mail-active: rgba(70, 193, 174, 0.1);
$active-button: rgba(256, 256, 256, 0.3);
$promo-background: #f9f9f9;
